@model IEnumerable<Projektas.Models.EventSpace>

@{
    ViewBag.Title = "Event Space List";
}

<h2>Event Space List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventSpace_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Worker)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventSpace_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Worker)
        </td>
        <td>
            @Html.ActionLink("Reserve", "ReserveSpace", new { id=item.EventSpace_id })
        </td>
    </tr>
}

</table>
