@model IEnumerable<Projektas.Models.RegisteredUser>

@{
    ViewBag.Title = "User List";
}

<h2>UserList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Send Message", "SendMessage", new { id=item.Login_name})
        </td>
    </tr>
}

</table>
