@model Projektas.Models.Reservation

@{
    ViewBag.Title = "Reservation List";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cancel</title>
</head>
<body>
    <h3>Are you sure you want to cancel this?</h3>
    <div>
        <h4>Reservation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reserver)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reserver)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReservedSpace)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReservedSpace)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Cancel" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "ReservationList")
            </div>
        }
    </div>
</body>
</html>
