@model Projektas.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reserver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserver)
        </dd>
        <dd>
            @Html.ActionLink("Add equipment", "Index", "Equipment", new { id = Model.Code }, null)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Back to List", "ReservationList")
</p>
