@model IEnumerable<Projektas.Models.UserOrder>

@{
    ViewBag.Title = "OrderListView";
}

<h2>OrderListView</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_Paid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
