<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event Space System", "Index", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (@Session["LoginName"].ToString() == "Admin")
                    {
                        <li>@Html.ActionLink("Home", "Index", "Main")</li>
                        <li>@Html.ActionLink("Users", "UserList", "RegisteredUser")</li>
                        <li>@Html.ActionLink("EventSpaces", "EventSpaceList", "Space")</li>
                    }
                    @if (@Session["LoginName"].ToString() == "Worker")
                    {
                        <li>@Html.ActionLink("Home", "Index", "Main")</li>
                        <li>@Html.ActionLink("Discounts", "DiscountListView", "Discount")</li>
                        <li>@Html.ActionLink("EventSpaces", "EventSpaceList", "Space")</li>

                    }
                    @if (@Session["LoginName"].ToString() != "Worker" && @Session["LoginName"].ToString() != "Admin")
                    {
                        <li>@Html.ActionLink("Home", "Index", "Main")</li>
                        <li>@Html.ActionLink("Reservations", "ReservationList", "Reservation")</li>
                        <li>@Html.ActionLink("FoodSuppliers", "FoodSupplierList", "FoodSupplier")</li>
                        <li>@Html.ActionLink("EventSpaces", "EventSpaceList", "Space")</li>
                        <li>@Html.ActionLink("UserOrder", "UserOrderListView", "UserOrder")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
